{% extends "layout.html" %}

{% block page_title %}
  Performance platform
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Performance platform</h1>

      <p class="lede">
        The Performance Platform is for comparing the performance of UK Government services. It's intended for civil servants, but accessible to everyone.
      </p>

      <p>Government services should meet user's needs in a cost-effective and efficient way. To make sure this happens, we collect standardised data to compare how different services are doing.</p>

      <p>The data is available to download for free by anyone.

      <h2 class="heading-medium">About the data</h2>

      <p>We collect data about <em>transactions</em>. A transaction forms part of an end-to-end service; It's the process which people go through to create, update, or delete their information or status with Government.</p>


      <p>We collect two types of data about transactions: Characteristics (theme, type, etc.) and Facts (cost, usage, etc).</p>

      <p>Use the Characteristics to make sure you're doing fair comparisons of the Facts.</p>

      <h3 class="heading-small">Characteristics</h3>
      <table>
        <tr>
          <th>Term</th>
          <th>Definition</th>
          <th>Example values</th>
        </tr>
        <tr>
          <td>Channel</td>
          <td>We collect transaction data seperately for each delivery channel.</td>
          <td>Online, paper, or phone.</td>
        </tr>
        <tr>
          <td>User need</td>
          <td>The need the service which the transaction is part of solves.</td>
          <td>As a _____, I need to ________, so that _________.</td>
        <tr>
          <td>Delivery organisation</td>
          <td>Split by department and public body.</td>
          <td>Full list found <a href="https://www.gov.uk/api/organisations" target="_blank">here.</a></td>
        </tr>
        <tr>
          <td>Theme</td>
          <td>The high level theme the transaction fits into.</td>
          <td>Driving, business, etc.</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>What type of interaction the user has.</td>
          <td>Register an item, Apply for financial support, etc.</td>
        </tr>
      </table>

      <h3 class="heading-small">Facts</h3>
      <table>
        <tr>
          <td>Cost per transaction</td>
          <td>The amount spent by Government to deliver the transaction. This figure does not include capital expenditure (set-up costs) or money paid as part of the service (e.g benefits or grants).</td>
        </tr>
        <tr>
          <td>Usage</td>
          <td>The number of individual transactions completed. Bulk transactions are counted seperately - for example, paying tax on 3 vehicles at the same time counts as 3 transactions.</td>
        </tr>
      </table>

      <h2 class="heading-medium">Download the data</h2>

      <p>Click <em>Options</em> to filter the data downloaded.</p>

      <p><a href="https://docs.google.com/spreadsheets/d/18zlIlwnFscJthjmn1i25-y9xwXvOBf25erEZ7KBheb8/edit#gid=0" target="_blank" class="button button-start">Download the data (csv)</a></p>

      <details>

        <summary><span class="summary">Options</span></summary>

        <div class="panel panel-border-narrow">

          <form>
            <fieldset>
              <legend>Tick the characteristics to be included:</legend>

              <label class="block-label" for="waste-type-1">
                <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
                User need
              </label>
              <label class="block-label" for="waste-type-2">
                <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
                Delivery organisation
              </label>
              <label class="block-label" for="waste-type-3">
                <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                Theme
              </label>
              <label class="block-label" for="waste-type-4">
                <input id="waste-type-4" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                Type
              </label>
            </fieldset>

            <br>
            <fieldset>
              <legend>Tick the facts to be included:</legend>

              <label class="block-label" for="waste-type-5">
                <input id="waste-type-5" name="waste-types" type="checkbox" value="waste-animal">
                Cost per transaction
              </label>
              <label class="block-label" for="waste-type-6">
                <input id="waste-type-6" name="waste-types" type="checkbox" value="waste-mines">
                Usage
              </label>
            </fieldset>
          </form>

        </div>

      </details>

      <h2 class="heading-medium">Other data resources</h2>

      <p>To find more open Government data, visit <a href="https://data.gov.uk/">data.gov.uk</a></p>

    </div>
  </div>
</main>

{% endblock %}


