{% extends "layout.html" %}

{% block page_title %}
  Performance platform
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Transaction performance</h1>
      <p class="lede">
        Download data about the performance of transactions used to deliver Government services.
      </p>

      <p>Citizens make use of Government services by interacting with one or more transactions through online or offline channels. A transaction is the whole process that a person needs to go through to create, update, or delete the information that Government holds about an individual, legal entity or physical item.</p>
    </div>
  </div>

  <p>Data last updated: 26th April 2016</p>

  <details>

    <summary><span class="summary">Download selected data</span></summary>

    <div class="panel panel-border-narrow">

      <form>

        <!-- Transactions filter -->
        <fieldset>
          <legend>Select transactions to include:</legend>

          <label for="all-transactions" class="block-label">
            <input id="all-transactions" type="radio" name="transactions" value="all-transactions">
            All transactions
          </label>

          <label for="transactions-for-organisations" class="block-label" data-target="select-organisations-panel">
            <input id="transactions-for-organisations" type="radio" name="transactions" value="transactions-for-organisations">
            Transactions for selected departments and agencies
          </label>

          <div class="panel panel-border-narrow js-hidden" id="select-organisations-panel">
            <label class="form-label" for="organisations-select">
              Select one or more departments or agencies
            </label>
            <select class="form-control" id="organisations-select" name="organisations-select" multiple="multiple"  style="width: 100%">
              <option value="DVLA">Department for Transport</option>
              <option value="GLA">Gangmasters Licensing Authority</option>
              <option value="HMPO">HM Passport Office</option>
              <option value="HMRC">HM Revenue and Customs</option>
              <option value="Home Office">Home Office</option>
            </select>
          </div>

          <label for="selected-transactions" class="block-label" data-target="select-transactions-panel">
            <input id="selected-transactions" type="radio" name="transactions" value="selected-transactions">
            Selected transactions
          </label>

          <div class="panel panel-border-narrow js-hidden" id="select-transactions-panel">
            <label class="form-label" for="transactions-select">
              Select one or more transactions
            </label>
            <select class="form-control" id="transactions-select" multiple="multiple" style="width: 100%">
              <option value="1">Access to birth records for adopted adults</option>
              <option value="2">Adding details to the adoption contact register</option>
              <option value="3">Apply for a license</option>
              <option value="4">Licensing system for gangmasters</option>
            </select>
          </div>

        </fieldset>

        <br>
        <!-- Reporting periods filter -->
        <fieldset>
          <legend>Select periods to report on:</legend>

          <label for="reporting-quarterly" class="block-label" data-target="select-quarters-panel">
            <input id="reporting-quarterly" type="radio" name="reporting-period" value="quarterly">
            Quarterly
          </label>

          <div class="panel panel-border-narrow js-hidden" id="select-quarters-panel">
            <label class="block-label" for="quarter-1">
              <input id="quarter-1" name="quarters" type="checkbox" value="jan-mar-2016">
              Jan - Mar 2016
            </label>

            <label class="block-label" for="quarter-2">
              <input id="quarter-2" name="quarters" type="checkbox" value="oct-dec-2015">
              Oct - Dec 2015
            </label>

            <label class="block-label" for="quarter-3">
              <input id="quarter-3" name="quarters" type="checkbox" value="jul-sep-2015">
              Jul - Sep 2015
            </label>

            <label class="block-label" for="quarter-4">
              <input id="quarter-4" name="quarters" type="checkbox" value="may-jun-2015">
              May - Jun 2015
            </label>
          </div>

          <label for="reporting-yearly" class="block-label" data-target="choose-year-start-panel">
            <input id="reporting-yearly" type="radio" name="reporting-period" value="yearly">
            Yearly
          </label>

          <div class="panel panel-border-narrow js-hidden" id="choose-year-start-panel">
            <p class="form-hint">Select a start month of a 12-month period</p>
            <label for="year-jan-dec" class="block-label" data-target="select-years-jan-dec-panel">
              <input id="year-jan-dec" type="radio" name="year-range" value="jan-dec">
              January
            </label>

            <div class="panel panel-border-narrow js-hidden" id="select-years-jan-dec-panel">
              <label class="block-label" for="jan-2015-dec-2015">
                <input id="jan-2015-dec-2015" name="jan-2015-dec-2015" type="checkbox" value="jan-2015-dec-2015">
                Jan 2015 - Dec 2015
              </label>

              <label class="block-label" for="jan-2014-dec-2014">
                <input id="jan-2014-dec-2014" name="jan-2014-dec-2014" type="checkbox" value="jan-2014-dec-2014">
                Jan 2014 - Dec 2014
              </label>
            </div>

            <label for="year-apr-mar" class="block-label" data-target="select-years-apr-mar-panel">
              <input id="year-apr-mar" type="radio" name="year-range" value="apr-mar">
              April
            </label>

            <div class="panel panel-border-narrow js-hidden" id="select-years-apr-mar-panel">
              <label class="block-label" for="apr-2015-mar-2016">
                <input id="apr-2015-mar-2016" name="apr-2015-mar-2016" type="checkbox" value="apr-2015-mar-2016">
                Apr 2015 - Mar 2016
              </label>

              <label class="block-label" for="apr-2014-mar-2015">
                <input id="apr-2014-mar-2015" name="apr-2014-mar-2015" type="checkbox" value="apr-2014-mar-2015">
                Apr 2014 - Mar 2015
              </label>
            </div>

            <label for="year-jul-jun" class="block-label" data-target="select-years-jul-jun-panel">
              <input id="year-jul-jun" type="radio" name="year-range" value="jul-jun">
              July
            </label>

            <div class="panel panel-border-narrow js-hidden" id="select-years-jul-jun-panel">
              <label class="block-label" for="jul-2014-jun-2015">
                <input id="jul-2014-jun-2015" name="jul-2014-jun-2015" type="checkbox" value="jul-2014-jun-2015">
                Jul 2014 - Jun 2015
              </label>

              <label class="block-label" for="jul-2013-jun-2014">
                <input id="jul-2013-jun-2014" name="jul-2013-jun-2014" type="checkbox" value="jul-2013-jun-2014">
                Jul 2013 - Jun 2014
              </label>
            </div>

            <label for="year-oct-sep" class="block-label" data-target="select-years-oct-sep-panel">
              <input id="year-oct-sep" type="radio" name="year-range" value="oct-sep">
              October
            </label>

            <div class="panel panel-border-narrow js-hidden" id="select-years-oct-sep-panel">
              <label class="block-label" for="oct-2014-sep-2015">
                <input id="oct-2014-sep-2015" name="oct-2014-sep-2015" type="checkbox" value="oct-2014-sep-2015">
                Oct 2014 - Sep 2015
              </label>

              <label class="block-label" for="oct-2013-sep-2014">
                <input id="oct-2013-sep-2014" name="oct-2013-sept-2014" type="checkbox" value="oct-2013-sep-2014">
                Oct 2013 - Sep 2014
              </label>
            </div>
          </div>
        </fieldset>

        <br>
        <!-- Characteristics filter -->
        <fieldset>
          <legend>Select characteristics to include:</legend>
          <label class="block-label" for="characteristic-1">
            <input id="characteristic-1" name="characteristics" type="checkbox" value="department">
            Department
          </label>
          <label class="block-label" for="characteristic-2">
            <input id="characteristic-2" name="characteristics" type="checkbox" value="agency-body">
            Agency/body
          </label>
          <label class="block-label" for="characteristic-3">
            <input id="characteristic-3" name="characteristics" type="checkbox" value="category">
            Category
          </label>
          <label class="block-label" for="characteristic-4">
            <input id="characteristic-4" name="characteristics" type="checkbox" value="transactions-dependent-on">
            Transactions dependent on
          </label>
          <label class="block-label" for="characteristic-5">
            <input id="characteristic-5" name="characteristics" type="checkbox" value="interaction-components">
            Interaction components
          </label>
          <label class="block-label" for="characteristic-6">
            <input id="characteristic-6" name="characteristics" type="checkbox" value="gaap-components">
            GaaP components
          </label>
          <label class="block-label" for="characteristic-7">
            <input id="characteristic-7" name="characteristics" type="checkbox" value="manual-activity">
            Manual activity
          </label>
        </fieldset>

        <br>
        <!-- Metrics filter -->
        <fieldset>
          <legend>Select metrics to include:</legend>

          <label class="block-label" for="fact-1">
            <input id="fact-1" name="metrics" type="checkbox" value="started-transactions">
            Started transactions
          </label>
          <label class="block-label" for="fact-2">
            <input id="fact-2" name="metrics" type="checkbox" value="completed-transactions">
            Completed transactions
          </label>
          <label class="block-label" for="fact-3">
            <input id="fact-3" name="metrics" type="checkbox" value="total-processing-cost">
            Total processing cost
          </label>
          <label class="block-label" for="fact-4">
            <input id="fact-4" name="metrics" type="checkbox" value="cost-pct-operational-spend">
            Cost % operational spend
          </label>
        </fieldset>

      </form>

    </div>

    <p><a href="https://docs.google.com/spreadsheets/d/1fZM4xJduzXmfCGlH1wEgMiem8uz-sOV86FsOwWxHjiY/edit#gid=0" target="_blank" class="button button-start">Download selected data</a></p>

  </details>

  <p><a href="https://docs.google.com/spreadsheets/d/18zlIlwnFscJthjmn1i25-y9xwXvOBf25erEZ7KBheb8/edit#gid=0" target="_blank" class="button button-start">Download all data</a></p>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">About the data</h2>

      <p>The data is provided as a <a href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> file. A line in the file represents one transaction and is made up of data items, each of which is either a <em>characteristic</em>, <em>metric</em> or some other <em>supporting information</em> about the transaction.</p>

      <p>Characteristics are useful for sorting, filtering and aggregating data in the file, and for comparing metrics across transactions on a like-for-like basis.</p>
      <p>Here is a list of the data items that will be provided for each transaction when you choose to download all data:
      </p>
    </div>
  </div>

  <div class="group definition-group characteristics">
    <h3>Characteristics</h3>
    <dl>
      <dt>Department</dt><dd>Morbi ac velit at orci consectetur dignissim sed et odio.</dd>
      <dt>Agency/body</dt><dd>Donec in dapibus libero, et tempor neque.</dd>
      <dt>Category</dt><dd>Nullam lacinia neque nec dolor consequat finibus.</dd>
      <dt>Frequency of interaction</dt><dd>Duis quis placerat sapien.</dd>
      <dt>Transactions dependent on</dt><dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt>Interaction components</dt><dd>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</dd>
      <dt>GaaP components</dt><dd>Etiam vitae nisl posuere, efficitur nibh nec, mattis mi.</dd>
      <dt>Manual activity</dt><dd>Nunc in erat ac metus auctor rhoncus.</dd>
    </dl>
  </div>

  <div class="group definition-group metrics">
    <h3>Metrics</h3>
    <dl>
      <dt>Started transactions</dt><dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt>Completed transactions</dt><dd>Nullam ac elit at leo egestas congue.</dd>
      <dt>Total processing cost</dt><dd>Duis quis placerat sapien.</dd>
      <dt>Cost % operational spend</dt><dd>Vivamus sit amet mi vel neque mollis feugiat.</dd>
    </dl>
  </div>

  <div class="group definition-group information">
    <h3>Supporting information</h3>
    <dl>
      <dt>User need</dt><dd>Sed pharetra, quam sit amet dignissim luctus, lacus enim rutrum libero, a viverra odio lorem sed erat.</dd>
      <dt>URL</dt><dd>Duis quis placerat sapien.</dd>
      <dt>Contact for data</dt><dd>Morbi ac velit at orci consectetur dignissim sed et odio.</dd>
    </dl>
  </div>

  <h2 class="heading-medium">Other data resources</h2>

  <p>To find more open Government data, visit <a href="https://data.gov.uk/">data.gov.uk</a></p>

    </div>
  <script type="text/javascript">
    $('select#transactions-select').select2({
      allowClear: true,
      placeholder: 'Search...'
    });
    $('select#organisations-select').select2({
      allowClear: true,
      placeholder: 'Search...'
    });
  </script>
</main>

{% endblock %}
