{% extends "layout.html" %}

{% block page_title %}
  Prototype - Performance Platform
{% endblock %}

{% block content %}
<main id="content" role="main">

<!-- {% include "includes/breadcrumb_examples.html" %} -->

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Tell us about your transaction
    </h1>

    <p>
      Please complete the form below.
    </p>

    <div class="grid-row">
      <p class="column-two-thirds">
        The information provided will be used to give context for,
        and to aid comparison of, cost and usage data that you will be
        asked to provide on a regular basis.
      </p>
    </div>

    <!-- Transaction name -->
    <div class="form-group">
      <label class="form-label-bold" for="name">Name</label>
      <p class="form-hint">e.g. Vehicle tax: renewals</p>
      <input type="text" class="form-control" id="name">
    </div>

    <!-- URL -->
    <div class="form-group">
      <label class="form-label-bold" for="url">URL</label>
      <p class="form-hint">URL of the transaction's start page or home page</p>
      <input type="text" class="form-control" id="url">
    </div>

    <!-- User need -->
    <div class="form-group">
      <label class="form-label-bold" for="user-need">User need</label>
      <p class="form-hint">User need met by this transaction</p>
      <textarea class="form-control" id="user-need"></textarea>
    </div>

    <!-- Department -->
    <div class="form-group">
      <label class="form-label-bold" for="department">Department</label>
      <p class="form-hint">Department responsible for meeting this need</p>
      <select class="form-control" id="department">
        <option value=""></option>
        <option value="AGO">Attorney General's Office</option>
        <option value="CO">Cabinet Office</option>
        <option value="BIS">Department for Business, Innovation and Skills</option>
        <option value="DCLG">Department for Communities and Local Government</option>
        <option value="DCMS">Department for Culture, Media, and Sport</option>
        <option value="DfE">Department for Education</option>
        <option value="Defra">Department for Environment, Food and Rural Affairs</option>
        <option value="DFID">Department for International Development</option>
        <option value="DFT">Department for Transport</option>
        <option value="DWP">Department for Work and Pensions</option>
        <option value="DECC">Department of Energy & Climate Change</option>
        <option value="DH">Department of Health</option>
        <option value="FCO">Foreign and Commonwealth Office</option>
        <option value="Home Office">Home Office</option>
        <option value="HMRC">HM Revenue and Customs</option>
        <option value="HMT">HM Treasury</option>
        <option value="MOD">Ministry of Defence</option>
        <option value="MOJ">Ministry of Justice</option>
      </select>
    </div>

    <!-- Agency -->
    <div class="form-group">
      <label class="form-label-bold" for="agency-body">Agency/body</label>
      <p class="form-hint">Agency/body responsible for meeting this need (optional)</p>
      <select class="form-control" id="agency-body">
        <option value=""></option>
        <option value="ACE">Arts Council</option>
        <option value="BFI">British Film Institute</option>
        <option value="CPS">Crown Prosecution Service</option>
        <option value="EH">English Heritage</option>
        <option value="GC">Gambling Commission</option>
        <option value="GLA">Gangmasters Licensing Authority</option>
        <option value="GDS">Government Digital Service</option>
        <option value="GEO">Government Equalities Office</option>
        <option value="HLF">Heritage Lottery Fund</option>
        <option value="HMPO">HM Passport Office</option>
        <option value="NCTL">National College for Teaching and Leadership</option>
        <option value="Ofcom">Ofcom</option>
        <option value="Ofsted">Office for Standards in Education</option>
        <option value="Ofqual">Office of Qualifications and Examinations Regulation</option>
        <option value="sport-england">Sport England</option>
        <option value="TSol">Treasury Solicitor's Department</option>
        <option value="visit-england">Visit England</option>
      </select>
    </div>

    <!-- Transaction category -->
    <fieldset>
      <legend class="form-label-bold">Transaction category</legend>
      <p class="form-hint">Help us to categorise your transaction by choosing a type and theme</p>

      <!-- Type -->
      <div class="form-group">
        <label class="form-label" for="type">Type</label>
        <select class="form-control" id="type">
          <option value=""></option>
          <option value="booking-events-and-resources">Booking events and resources</option>
          <option value="making-a-payment">Making a payment</option>
          <option value="ordering-goods">Ordering goods</option>
          <option value="registering">Registering</option>
          <option value="requesting-a-licence-or-consent">Requesting a licence or consent</option>
          <option value="requesting-benefits-payments-or-loans">Requesting benefits, payments or loans</option>
          <option value="requesting-information">Requesting information</option>
        </select>
      </div>

      <!-- Theme -->
      <div class="form-group">
        <label class="form-label" for="theme">Theme</label>
        <select class="form-control" id="theme">
          <option value=""></option>
          <option value="business">Business</option>
          <option value="coming-to-the-uk">Coming to the UK</option>
        </select>
      </div>
    </fieldset>

    <!-- Frequency -->
    <div class="form-group">
      <label class="form-label-bold" for="frequency">Frequency</label>
      <p class="form-hint">Frequency by which someone would access this transaction</p>
      <select name="frequency" class="form-control" id="frequency">
        <option value="one-off">One-off</option>
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
        <option value="daily">Daily</option>
      </select>
    </div>

    <!-- Channel -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Channels</legend>
        <p class="form-hint">Channels through which the transaction can be completed</p>

        <label for="online" class="block-label">
          <input type="checkbox" name="channel" value="online" id="online">
          Online
        </label>

        <label for="paper" class="block-label">
          <input type="checkbox" name="channel" value="paper" id="paper">
          Paper
        </label>

        <label for="phone" class="block-label">
          <input type="checkbox" name="channel" value="phone" id="phone">
          Phone
        </label>

        <label for="face-to-face" class="block-label">
          <input type="checkbox" name="channel" value="face-to-face" id="face-to-face">
          Face-to-face
        </label>

        <label for="assisted-digital" class="block-label">
          <input type="checkbox" name="channel" value="assisted-digital" id="assisted-digital">
          Assisted digital
        </label>
      </fieldset>
    </div>

    <!--  Interaction components -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Interaction components</legend>
        <p class="form-hint">Interaction components that make up the transaction</p>

        <label for="eligibility" class="block-label" data-target="select-govuk-smart-questions-panel">
          <input type="checkbox" name="interaction-component" value="eligibility" id="eligibility">
          Eligibility check
        </label>

        <div class="panel panel-border-narrow js-hidden" id="select-govuk-smart-questions-panel">
          <fieldset>
            <legend class="form-label-bold">
              Does the transaction use the GOV.UK Smart Questions component on Government as a Platform (GaaP)?
            </legend>

            <label for="govuk-smart-questions-used" class="block-label">
              <input type="radio" name="govuk-smart-questions" value="yes" id="govuk-smart-questions-used">
              Yes
            </label>

            <label for="govuk-smart-questions-not-used" class="block-label">
              <input type="radio" name="govuk-smart-questions" value="no" id="govuk-smart-questions-not-used">
              No
            </label>
          </fieldset>
        </div>

        <label for="notification" class="block-label" data-target="select-govuk-notify-panel">
          <input type="checkbox" name="interaction-component" value="notification" id="notification">
          Notification
        </label>

        <div class="panel panel-border-narrow js-hidden" id="select-govuk-notify-panel">
          <fieldset>
            <legend class="form-label-bold">
              Does the transaction use the GOV.UK Notify component on Government as a Platform (GaaP)?
            </legend>

            <label for="govuk-notify-used" class="block-label">
              <input type="radio" name="govuk-notify" value="yes" id="govuk-notify-used">
              Yes
            </label>

            <label for="govuk-notify-not-used" class="block-label">
              <input type="radio" name="govuk-notify" value="no" id="govuk-notify-not-used">
              No
            </label>
          </fieldset>
        </div>

        <label for="payment" class="block-label" data-target="select-govuk-pay-panel">
          <input type="checkbox" name="interaction-component" value="payment" id="payment">
          Payment capture
        </label>

        <div class="panel panel-border-narrow js-hidden" id="select-govuk-pay-panel">
          <fieldset>
            <legend class="form-label-bold">
              Does the transaction use the GOV.UK Pay component on Government as a Platform (GaaP)?
            </legend>

            <label for="govuk-pay-used" class="block-label">
              <input type="radio" name="govuk-pay" value="yes" id="govuk-pay-used">
              Yes
            </label>

            <label for="govuk-pay-not-used" class="block-label">
              <input type="radio" name="govuk-pay" value="no" id="govuk-pay-not-used">
              No
            </label>
          </fieldset>
        </div>

        <label for="verification" class="block-label" data-target="select-govuk-verify-panel">
          <input type="checkbox" name="interaction-component" value="verification" id="verification">
          Identity verification
        </label>

        <div class="panel panel-border-narrow js-hidden" id="select-govuk-verify-panel">
          <fieldset>
            <legend class="form-label-bold">
              Does the transaction use the GOV.UK Verify component on Government as a Platform (GaaP)?
            </legend>

            <label for="govuk-verify-used" class="block-label">
              <input type="radio" name="govuk-verify" value="yes" id="govuk-verify-used">
              Yes
            </label>

            <label for="govuk-verify-not-used" class="block-label">
              <input type="radio" name="govuk-verify" value="no" id="govuk-verify-not-used">
              No
            </label>
          </fieldset>
        </div>

        <label for="face-to-face-stage" class="block-label">
          <input type="checkbox" name="interaction-component" value="face-to-face-stage" id="face-to-face-stage">
          Face-to-face stage
        </label>
      </fieldset>
    </div>

    <!-- Manual activity check -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">
          Does the transaction require manual activity in the back office?
        </legend>

        <p class="form-hint">For example, sorting of post, scanning of documents etc.</p>

        <label for="manual-activity-required" class="block-label">
          <input type="radio" name="manual-activity" value="required" id="manual-activity-required">
          <span class="heading-small">Yes</span><br>
          Back office staff undertake manual activities during the processing of the transaction
        </label>

        <label for="manual-activity-not-required" class="block-label">
          <input type="radio" name="manual-activity" value="not-required" id="manual-activity-not-required">
          <span class="heading-small">No</span><br>
          Back office do not undertake manual activities during the processing of the transaction
        </label>

      </fieldset>
    </div>

    <!-- Dependent transactions -->
    <fieldset>
      <legend class="form-label-bold">Transactions dependent on</legend>
      <p class="form-hint">Transactions which must be completed before finishing this one, if any</p>

      <!-- Dependent transaction name -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-name-select">Transaction name</label>
        <select class="form-control" id="dependent-transaction-name-select">
          <option value=""></option>
          <option value="1">Access to birth records for adopted adults</option>
          <option value="2">Adding details to the adoption contact register</option>
          <option value="3">Apply for a license</option>
          <option value="4">Licensing system for gangmasters</option>
        </select>
      </div>

      <!-- Dependent transaction department -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-department">Department</label>
        <p class="form-hint">Department responsible for this transaction</p>
        <select class="form-control" id="dependent-transaction-department">
          <option value=""></option>
          <option value="AGO">Attorney General's Office</option>
          <option value="CO">Cabinet Office</option>
          <option value="BIS">Department for Business, Innovation and Skills</option>
          <option value="DCLG">Department for Communities and Local Government</option>
          <option value="DCMS">Department for Culture, Media, and Sport</option>
          <option value="DfE">Department for Education</option>
          <option value="Defra">Department for Environment, Food and Rural Affairs</option>
          <option value="DFID">Department for International Development</option>
          <option value="DFT">Department for Transport</option>
          <option value="DWP">Department for Work and Pensions</option>
          <option value="DECC">Department of Energy & Climate Change</option>
          <option value="DH">Department of Health</option>
          <option value="FCO">Foreign and Commonwealth Office</option>
          <option value="Home Office">Home Office</option>
          <option value="HMRC">HM Revenue and Customs</option>
          <option value="HMT">HM Treasury</option>
          <option value="MOD">Ministry of Defence</option>
          <option value="MOJ">Ministry of Justice</option>
        </select>
      </div>

      <!-- Dependent transaction agency -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-agency">Agency</label>
        <p class="form-hint">Agency responsible for this transaction (optional)</p>
        <select class="form-control" id="dependent-transaction-agency">
          <option value=""></option>
          <option value="ACE">Arts Council</option>
          <option value="BFI">British Film Institute</option>
          <option value="CPS">Crown Prosecution Service</option>
          <option value="EH">English Heritage</option>
          <option value="GC">Gambling Commission</option>
          <option value="GLA">Gangmasters Licensing Authority</option>
          <option value="GDS">Government Digital Service</option>
          <option value="GEO">Government Equalities Office</option>
          <option value="HLF">Heritage Lottery Fund</option>
          <option value="HMPO">HM Passport Office</option>
          <option value="NCTL">National College for Teaching and Leadership</option>
          <option value="Ofcom">Ofcom</option>
          <option value="Ofsted">Office for Standards in Education</option>
          <option value="Ofqual">Office of Qualifications and Examinations Regulation</option>
          <option value="sport-england">Sport England</option>
          <option value="TSol">Treasury Solicitor's Department</option>
          <option value="visit-england">Visit England</option>
        </select>
      </div>

      <div class="form-group">
        <a href="#">+ Add another dependency</a>
      </div>
    </fieldset>

    <!-- Data curator -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Data curator</legend>
        <p class="form-hint">Name and email of person responsible for collecting cost and usage data</p>
        <label class="form-label" for="data-curator-name">Name</label>
        <input type="text" name="data-curator-name" class="form-control" id="data-curator-name">

        <label class="form-label" for="data-curator-email">Email</label>
        <input type="text" name="data-curator-email" class="form-control" id="data-curator-email">
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Save">
    </div>

  </form>

  <script type="text/javascript">
    $('select#department, select#agency-body, select#dependent-transaction-name-select, select#dependent-transaction-department, select#dependent-transaction-agency').select2({
      allowClear: true,
      placeholder: 'Search...'
    });
  </script>

</main>
{% endblock %}
