{% extends "layout.html" %}

{% block page_title %}
  Prototype - Performance Platform
{% endblock %}

{% block content %}
<main id="content" role="main">

<!-- {% include "includes/breadcrumb_examples.html" %} -->

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Tell us about your transaction
    </h1>

    <p>
      Please complete the form below.
    </p>

    <div class="grid-row">
      <p class="column-two-thirds">
        The information provided will be used to give context for,
        and to aid comparison of, cost and usage data that you will be
        asked to provide on a regular basis.
      </p>
    </div>

    <!-- Transaction name -->
    <div class="form-group">
      <label class="form-label-bold" for="name">Name</label>
      <p class="form-hint">e.g. Vehicle tax: renewals</p>
      <input type="text" class="form-control" id="name">
    </div>

    <!-- User need -->
    <div class="form-group">
      <label class="form-label-bold" for="user-need">User need</label>
      <p class="form-hint">User need met by this transaction</p>
      <textarea class="form-control" id="user-need"></textarea>
    </div>

    <!-- Department -->
    <div class="form-group">
      <label class="form-label-bold" for="department">Department</label>
      <p class="form-hint">Department responsible for meeting this need</p>
      <select class="form-control" id="department">
        <option value=""></option>
        <option value="DVLA">Department for Transport</option>
        <option value="HMRC">HM Revenue and Customs</option>
        <option value="Home Office">Home Office</option>
      </select>
    </div>

    <!-- Agency -->
    <div class="form-group">
      <label class="form-label-bold" for="agency">Agency</label>
      <p class="form-hint">Agency responsible for meeting this need (optional)</p>
      <select class="form-control" id="agency">
        <option value=""></option>
        <option value="GLA">Gangmasters Licensing Authority</option>
        <option value="HMPO">HM Passport Office</option>
      </select>
    </div>

    <!-- Dependent transactions -->
    <fieldset>
      <legend class="form-label-bold">Transactions dependent on</legend>
      <p class="form-hint">Transactions which must be completed before starting this one, if any</p>

      <!-- Dependent transaction name -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-name-select">Transaction name</label>
        <select class="form-control" id="dependent-transaction-name-select">
          <option value=""></option>
          <option value="1">Access to birth records for adopted adults</option>
          <option value="2">Adding details to the adoption contact register</option>
          <option value="3">Apply for a license</option>
          <option value="4">Licensing system for gangmasters</option>
        </select>
      </div>

      <!-- Dependent transaction department -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-department">Department</label>
        <p class="form-hint">Department responsible for this transaction</p>
        <select class="form-control" id="dependent-transaction-department">
          <option value=""></option>
          <option value="DVLA">Department for Transport</option>
          <option value="HMRC">HM Revenue and Customs</option>
          <option value="Home Office">Home Office</option>
        </select>
      </div>

      <!-- Dependent transaction agency -->
      <div class="form-group">
        <label class="form-label" for="dependent-transaction-agency">Agency</label>
        <p class="form-hint">Agency responsible for this transaction (optional)</p>
        <select class="form-control" id="dependent-transaction-agency">
          <option value=""></option>
          <option value="GLA">Gangmasters Licensing Authority</option>
          <option value="HMPO">HM Passport Office</option>
        </select>
      </div>

      <div class="form-group">
        <a href="#">+ Add another dependency</a>
      </div>
    </fieldset>

    <!-- Transaction category -->
    <fieldset>
      <legend class="form-label-bold">Transaction category</legend>
      <p class="form-hint">Help us to categorise your transaction by choosing a theme and type</p>

      <!-- Theme -->
      <div class="form-group">
        <label class="form-label" for="theme">Theme</label>
        <select class="form-control" id="theme">
          <option value="driving">Driving</option>
          <option value="book-access">Book access to something</option>
        </select>
      </div>

      <!-- Type -->
      <div class="form-group">
        <label class="form-label" for="type">Type</label>
        <select class="form-control" id="type">
          <option value="payment">Payment</option>
          <option value="application">Application</option>
        </select>
      </div>
    </fieldset>

    <!-- Channel -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Channels</legend>
        <p class="form-hint">Channels through which the transaction can be completed</p>

        <label for="online" class="block-label">
          <input type="checkbox" name="channel" value="online" id="online">
          Online
        </label>

        <label for="paper" class="block-label">
          <input type="checkbox" name="channel" value="paper" id="paper">
          Paper
        </label>

        <label for="phone" class="block-label">
          <input type="checkbox" name="channel" value="phone" id="phone">
          Phone
        </label>

        <label for="face-to-face" class="block-label">
          <input type="checkbox" name="channel" value="face-to-face" id="face-to-face">
          Face-to-face
        </label>

        <label for="assisted-digital" class="block-label">
          <input type="checkbox" name="channel" value="assisted-digital" id="assisted-digital">
          Assisted digital
        </label>
      </fieldset>
    </div>

    <!-- Eligibility check -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">
          Does the transaction include an eligibility check?
        </legend>

        <label for="eligibility-check-included" class="block-label">
          <input type="radio" name="eligibility-check" value="included" id="eligibility-check-included">
          <span class="heading-small">Yes</span><br>
          A person's eligibility is decided during the transaction
        </label>

        <label for="eligibility-check-not-included" class="block-label">
          <input type="radio" name="eligibility-check" value="eligibility-check-not-included" id="eligibility-check-not-included">
          <span class="heading-small">No</span><br>
          A person's eligibility is not a concern of the transaction
        </label>

      </fieldset>
    </div>

    <!-- Frequency -->
    <div class="form-group">
      <label class="form-label-bold" for="frequency">Frequency</label>
      <p class="form-hint">Frequency by which someone would access this transaction</p>
      <select name="frequency" class="form-control" id="frequency">
        <option value="monthly">Monthly</option>
        <option value="annually">Annually</option>
      </select>
    </div>

    <!--  Interaction components -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Interaction components</legend>
        <p class="form-hint">Interaction components that make up the transaction</p>

        <label for="eligibility" class="block-label">
          <input type="checkbox" name="interaction-component" value="eligibility" id="eligibility">
          Eligibility
        </label>

        <label for="notification" class="block-label">
          <input type="checkbox" name="interaction-component" value="notification" id="notification">
          Notification
        </label>

        <label for="payment" class="block-label">
          <input type="checkbox" name="interaction-component" value="payment" id="payment">
          Payment
        </label>

        <label for="verification" class="block-label">
          <input type="checkbox" name="interaction-component" value="verification" id="verification">
          Verification
        </label>
      </fieldset>
    </div>

    <!--  GaaP components -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">GaaP components</legend>
        <p class="form-hint">GaaP (Government as a Platform) components used by the transaction, if any</p>

        <label for="notify" class="block-label">
          <input type="checkbox" name="gaap-component" value="notify" id="notify">
          Notify
        </label>

        <label for="pay" class="block-label">
          <input type="checkbox" name="gaap-component" value="pay" id="pay">
          Pay
        </label>

        <label for="smart-questions" class="block-label">
          <input type="checkbox" name="gaap-component" value="smart-questions" id="smart-questions">
          Smart questions
        </label>

        <label for="verify" class="block-label">
          <input type="checkbox" name="gaap-component" value="verify" id="verify">
          Verify
        </label>
      </fieldset>
    </div>

    <!-- Data curator -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Data curator</legend>
        <p class="form-hint">Name and email of person responsible for collecting cost and usage data</p>
        <label class="form-label" for="data-curator-name">Name</label>
        <input type="text" name="data-curator-name" class="form-control" id="data-curator-name">

        <label class="form-label" for="data-curator-email">Email</label>
        <input type="text" name="data-curator-email" class="form-control" id="data-curator-email">
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Add transaction">
    </div>

  </form>

  <script type="text/javascript">
    $('select#department, select#agency, select#dependent-transaction-name-select, select#dependent-transaction-department, select#dependent-transaction-agency').select2({
      allowClear: true,
      placeholder: 'Search...'
    });
  </script>

</main>
{% endblock %}
