<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>

<script type="text/javascript">
	// orgData = {{ orgData | safe}};
</script>

<script src="/public/javascripts/orgs-master.js"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/public/javascripts/org-chart.js"></script>