{% extends "layout.html" %}

{% block page_title %}
  Performance platform
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Look up a service</h1>

      <p class="lede">
        Find data for a specific service.
    	</p>

      <label class="form-label" for="full-name-f1">Search</label>
  		<input class="form-control" id="full-name-f1" type="text">

    </div>
  </div>
</main>

{% endblock %}


